* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    font-size: 18px;
    font-family: 'Source Sans 3', sans-serif;
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: end; 
    background-image: url(media/Stat-Outpatient-Malawi_Lisungwi_ZDeClerck.JPG);
    background-size: cover;
    background-position: center;
    top: 0;
    
}


header h1 {
    overflow: unset;
    
    position: relative;
    text-align: right; 
    margin-top: 90vh;
    margin-right: 1rem;
    margin-bottom: 7rem; 
    color: rgba(80, 215, 191, 1);
    font-weight: 800;
    font-size: 5rem;
    line-height: 1;
    letter-spacing: -1px;
}

#menu {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    color: #fff;
    font-size: 3.6rem;
    cursor: pointer;
}

#nav {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

#nav.open {
    opacity: 1;
    visibility: visible;
}

#nav ul {
    list-style-type: none;
    text-align: center;
}

#nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
    padding: 0.5rem;
    transition: all 0.3s;
}

#nav a:hover {
    transform: scale(1.2);
}

section {
    position: relative;
    padding: 3rem 2rem 3rem 2rem;

}

#message {
    background: rgb(70,184,165);
    background: linear-gradient(180deg, rgba(70,184,165,1) 0%, rgba(205,235,229,1) 100%);
    gap: 50px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#message p {
    padding-top: 1.5rem;
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    animation: float 3s ease-in-out infinite;
    
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }

#photo {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
   

}

#photo img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 3rem 0 2rem 0 ;
}


#photo div:nth-child(1) {
    grid-row: 1 / 2;
}

#photo div:nth-child(2) {
    grid-row: 1 / 2;
    grid-column:  2/ 3;
}

#photo div:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#photo div:nth-child(4) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

@media (max-width: 400px) {

    #photo {

        display: grid;
        grid-template-columns: 1fr ;
        gap: 40px;
    }

    #photo img {
        display: block;
        width: 100%;
        height: 100%;
        padding: 3rem 4rem 2rem 4rem ;
    }

    #photo div:nth-child(1) {
        grid-row: 1 / 2;
    }
    
    #photo div:nth-child(2) {
        grid-row: 2/ 3;
        grid-column:  1/ 2;
    }
    
    #photo div:nth-child(3) {
        grid-row: 3 / 4;
        grid-column:  1/ 2;
    }
    
    #photo div:nth-child(4) {
        grid-row: 4 / 5;
        grid-column:  1/ 2;
    }
}

#about {
    background-color: rgba(205, 235, 229, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

#about div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem; 
    padding: 5rem;
}
@media (max-width: 400px) {
    #about  {

        flex-direction: column;
    }
}

#about h1 {
    color: #06A387;
    font-weight: 800;
    font-size: 60px;
    width: 100%;
    text-align: center;

}

#about p {
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 auto;
    padding: 1.5rem;

}

#about img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 2rem;
}


#program {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(4, 185, 152, 1);
    gap: 2rem;
    
}

#program h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

#program p {
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    padding-top: 0.5rem ;
    padding-bottom: 2rem;
    cursor: pointer;

}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 1200px;
}

#grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 30px;
    transition: 0.3s;
    
}

#grid img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 3rem 1rem;

}

#grid div:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#grid div:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#grid div:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 1/ 2;
}

#grid div:nth-child(4) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#grid div:nth-child(5) {
    grid-row: 3/ 4;
    grid-column: 1 / 2;
}

#grid div:nth-child(6) {
    grid-row:  3/ 4;
    grid-column: 2 / 3;
}

@media (max-width: 400px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 40px;
    }
    #grid div:nth-child(1) {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    
    #grid div:nth-child(2) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    #grid div:nth-child(3) {
        grid-row: 3/ 4;
        grid-column: 1/ 2;
    }
    
    #grid div:nth-child(4) {
        grid-row: 4/ 5;
        grid-column: 1 / 2;
    }
    
    #grid div:nth-child(5) {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    
    #grid div:nth-child(6) {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }
}

#grid div:hover {
    transform: scale(1.05);
    background-color: #fff;
}

#grid div p:hover {
    transform: scale(1.1);
}

#getinvolved {
    background-color: rgba(18, 176, 147, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 0;
}

#getinvolved h1 {
    font-weight: 600;
    font-size: 60px;
}

#getinvolved p {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding: 1rem 4rem 1rem 4rem ;
}

#group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    padding: 2rem 3.5rem 1rem 3.5rem;

}

@media (max-width: 400px) {
    #group  {
        flex-direction: column;
    }
}

#group p {
    font-size: 40px;
    text-align: center;
    padding: 1rem 4rem 1rem 4rem ;
}



#Donate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: #028C73 solid ;
    outline-width: 5px;
    width: 100%;
    height: 100%;
    gap: 3rem;
    padding: 1rem 2rem 2rem 2rem ;
}

#Join {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: #028C73 solid;
    outline-width: 5px;
    width: 100%;
    height: 100%;
    gap: 3rem;
    padding: 1rem 2rem 2rem 2rem ;

}



#getinvolved img {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding: 3rem 7rem 0 7rem;
    bottom: 0;
}

button {
    background-color: #028C73;
    color: white;
    display: block;
	appearance: none;
	font: inherit;
	text-align: center;
	text-transform: uppercase;
    font-weight: 600;
    padding: 0.6rem 1.6rem;
    border-radius: 4px;
    transition: 1ms;
    cursor: pointer;
    

}

button:hover {
    background-color: #026452;
    transform: scale(1.1);
}

footer {
    
    background: rgba(17,175,147, 0.52); 
    background: linear-gradient(180deg, rgba(17,175,147,0.52) 30%, rgba(44,53,51,0.27914915966386555) 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: #026452;
    padding: 2rem 3.5rem 2rem 3.5rem;

}


footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}


footer img {
    display: block;
    transition: all 0.3s;
    width: 155px;
    height: 155px;
}

footer img:hover {
    transform: scale(1.2);
}

footer a {
    text-decoration: none;
}

@media (max-width: 400px) {
    footer ul {
        flex-direction: column;
    }
}
